*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background-color: gray;
}

header{
    background-color: white;
    height: 80px;
    line-height: 100%;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

#scritta-logo{
    font-size: 50px;
    vertical-align: middle;
}

.container{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   background-color: white;

}

.button{
    background-color: white;
    border-radius: 15%;
    border: 1px solid gray;
    color: gray;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
}

#buttonblu{
    background-color: blue;
    color: white;
    margin-left: 40px;
}
.task{
    margin-left: 40px;
}

h2{
    margin-top: 10px;
}

span{
    margin-top: 5px;
    display: inline-block;
    font-size: 20px;
}